main {
  text-align: center;
  width: 70%;
 
}

h1 {
  margin-top: 20px;
  color: #333;
}


.form-container {
  
  background-color: rgb(184, 182, 182); /* Light grey background */
  width: 50%;
  height: 450px; /* Increased height for better spacing */
  margin: 30px auto;
  padding: 30px 20px;
  border-radius: 15px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid #000000;

}

.form-group {
  width: 65%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 15px;
}

label {
  width: 25%; /* Reduced width to bring the label closer */
  font-weight: bold;
  margin-right: 10px; /* Decreased margin for better alignment */
}

.form-container select {
  width: 65%;
  height: 40px; /* Increased height for select fields */
  padding: 0 40px; /* Padding left and right */
  font-size: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  appearance: none;
  background: white url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" width="15" height="15" viewBox="0 0 24 24" fill="red"%3E%3Cpath d="M7 10l5 5 5-5z"%3E%3C/path%3E%3C/svg%3E') no-repeat right 10px center;
  background-size: 60px 50px; /* Increased arrow size */
  color:grey;
}

.form-actions {
  text-align: center;
  position: relative;
  width: 65%;
  top:30px;
}

.form-actions .skip-btn {
  position: absolute;
  left: 30%; /* Align with the input field line */
  padding: 10px 20px;
  font-size: 20px;
  background-color: transparent;
  text-decoration: underline;
  color: black;
  border: none;
  cursor: pointer;
  font-weight: 600;
}

.form-actions .submit-btn {
  padding: 10px 40px;
  font-size: 16px;
  border: none;
  border-radius:8px;
  cursor: pointer;
  background-color: #E30024;

  margin-left: 40%;
  border: 1px solid black;
}

.form-actions .submit-btn:hover {
  background-color: #E30024;
}